# 1. Distance

In [ ]:
import pandas as pd 
import numpy as np
from scipy.spatial import distance_matrix

In [ ]:
# Mocking Data
# Dictionary
data = {

  "ID" : ["P1","P2","P3","P4"],
  "x" : [0,2,3,5],
  "y" : [2,0,1,1],

}

In [9]:
# print(data)
# แปลง Dictionary to DataFram
df = pd.DataFrame(data).set_index("ID")
df

    x  y
ID
P1  0  2
P2  2  0
P3  3  1
P4  5  1

In [30]:
# Manhattan
Manhattan = distance_matrix( df.values, df.values, p=1 ) 
Manhattan = pd.DataFrame( Manhattan , index = df.index , columns = df.index )
# Euclidian
Euclidian = distance_matrix( df.values, df.values, p=2 )
Euclidian = pd.DataFrame( Euclidian , index = df.index , columns = df.index )
# Minkowsky (p = 3)
Minkowsky = distance_matrix( df.values, df.values, p = 3 )
Minkowsky = pd.DataFrame( Minkowsky , index = df.index , columns = df.index )

In [31]:
print( "Manhattan \n" ,Manhattan.round(3))

print( "Euclidian \n" ,Euclidian.round(3))

print( "Minkowsky \n" ,Minkowsky.round(3))

# \n คือการขึ้นบันทัดใหม่

Manhattan
 ID   P1   P2   P3   P4
ID
P1  0.0  4.0  4.0  6.0
P2  4.0  0.0  2.0  4.0
P3  4.0  2.0  0.0  2.0
P4  6.0  4.0  2.0  0.0
Euclidian
 ID     P1     P2     P3     P4
ID
P1  0.000  2.828  3.162  5.099
P2  2.828  0.000  1.414  3.162
P3  3.162  1.414  0.000  2.000
P4  5.099  3.162  2.000  0.000
Minkowsky
 ID     P1     P2     P3     P4
ID
P1  0.000  2.520  3.037  5.013
P2  2.520  0.000  1.260  3.037
P3  3.037  1.260  0.000  2.000
P4  5.013  3.037  2.000  0.000